


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Temporairement commenté car le nom de la classe n'est pas standard rbd */
/*
.react-beautiful-dnd-create-placeholder {
  background-color: rgba(255, 0, 0, 0.2) !important; Rouge semi-transparent 
  border: 2px dashed red !important; 
  box-sizing: border-box !important; 
  transition: none !important; 
}
*/

@media print {
  #root {
    max-width: none !important; /* Permettre la pleine largeur pour l'impression */
    margin: 0 !important;
    padding: 0 !important;
    display: block !important; /* S'assurer qu'il n'est pas flex/grid */
    overflow: visible !important;
  }

  .app-main-container { /* Classe ajoutée au div racine de App.jsx */
    display: block !important; /* Surcharger display: flex pour l'impression */
    height: auto !important; /* Permettre à la hauteur d'être déterminée par le contenu */
    width: auto !important; /* Permettre à la largeur d'être déterminée par le contenu */
    overflow: visible !important;
    padding: 0 !important; /* Retirer le padding qui pourrait contraindre */
  }
}


/* Dans index.css ou un fichier CSS importé */
.date-picker-full-width,
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100% !important; /* Important pour surcharger les styles par défaut si nécessaire */
  box-sizing: border-box;
}

.react-datepicker__input-container input {
  padding: 8px; /* Pour correspondre à vos autres inputs */
  /* Ajoutez d'autres styles pour correspondre à vos inputs si besoin */
}

/* Cacher visuellement les jours de week-end dans react-datepicker */
.react-datepicker-popper .react-datepicker__day--weekend-hidden {
  display: none !important; /* Assure que la cellule du jour disparaît */
  pointer-events: none !important; /* Empêcher toute interaction */
}

/* Cacher les en-têtes de colonne pour Samedi et Dimanche */
/* Avec la locale 'fr', Lundi est le 1er, Samedi le 6ème, Dimanche le 7ème */
.react-datepicker-popper .react-datepicker__day-names .react-datepicker__day-name:nth-child(6), /* Samedi */
.react-datepicker-popper .react-datepicker__day-names .react-datepicker__day-name:nth-child(7)  /* Dimanche */ {
  display: none !important;
}