#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */ /* Temporairement commenté pour tester */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Temporairement commenté car le nom de la classe n'est pas standard rbd */
/*
.react-beautiful-dnd-create-placeholder {
  background-color: rgba(255, 0, 0, 0.2) !important; Rouge semi-transparent 
  border: 2px dashed red !important; 
  box-sizing: border-box !important; 
  transition: none !important; 
}
*/

@media print {
  #root {
    max-width: none !important; /* Permettre la pleine largeur pour l'impression */
    margin: 0 !important;
    padding: 0 !important;
    /* Si #root est un conteneur flex/grid, le remettre en block pour l'impression */
    /* display: block !important; */ 
  }

  .app-main-container { /* Classe ajoutée au div racine de App.jsx */
    display: block !important; /* Surcharger display: flex pour l'impression */
    height: auto !important; /* Permettre à la hauteur d'être déterminée par le contenu */
    width: auto !important; /* Permettre à la largeur d'être déterminée par le contenu */
    overflow: visible !important;
  }
}
